//-- Colors starts --//
$font-semi: 600;
$primary80: #2D2B6D;
$primary40: rgba(46, 44, 109, 0.4);
$primary100: #242257;
$inner-boder: #ECEDF1;
$main-text: #232323;
$success-color: #039855;
$warning-color: #FACC15;
$error-color: #E92C2C;
$white-color: #ffffff;
//-- Colors ends --//

$font-size-normal: 0.938rem;
$box-shadow: 0 4px 25px rgba(14,36,49,.15);

//-- border starts --//
$border-radius1: 10px;
$border-radius2: 15px;
$border-radius3: 25px;
//-- border starts --//

//-- Spacing starts --//
$m-1: 0.5rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 2rem;
$m-5: 2.5rem;
$m-6: 3rem;
//-- Spacing ends --//
