@import '../../../assets/css/variables.scss';
@import '../../../assets/css/mixin.scss';

section:not(:last-child) {
  margin-bottom: $m-3;
}
.title {
  h2 {
    color: $primary80;
  }
}
.overview {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 850px) {
    display: grid;
    grid-gap: $m-3;
  }
  .stats {
    flex-basis: 67%;
    //-- Card ends --//
    .card {
      display: grid;
      grid-gap: 2rem;
      margin-bottom: $m-3;
      @media only screen and (min-width: 450px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      &_item {
        @include sect-bg;
        .icon {
          padding: $m-2;
          margin-right: $m-2;
          background-color: $primary80;
          border-radius: 50%;
          justify-content: center;
          img {
            filter: brightness(10);
          }
        }
        &_details {
          .value {
            margin-top: $m-1
          }
        }
      }
    }
    //-- Card ends --//
    .enroll {
      @include sect-bg;
      &_title {
        @include sect-bg-title;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .messages {
    flex-basis: 30%;
    @include sect-bg;
    &_title {
      margin-bottom: $m-2;
      @include sect-bg-title;
      p {
        color: $primary40;
      }
    }
    &_list {
      display: grid;
      grid-gap: 1rem;
      &_item {
        align-items: flex-start;
        img {
          width: 40px;
          height: 40px;
          margin-right: $m-2;
        }
        &_details {
          .name {
            color: $primary100;
          }
          .message {
            display: inline-block;
            margin-top: 0.3rem;
          }
        }
      }
    }
  }
}

.ap-sch {
  @include sect-bg;
  &_title {
    @include sect-bg-title;
  }
  font-size: 14px;
  &_body {
    table {
      border-spacing: 0;
      width: 100%;
      border: 1px solid $inner-boder;
      border-radius: $border-radius1 $border-radius1 0px 0px;
      td, th {
        padding: $m-2;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.01em;
        text-align: left;
      }
      tr {
        &.table-header {
          background-color: $primary80;
          color: $white-color;
          border-radius: $border-radius1 $border-radius1 0px 0px;
          th:last-child {
            border-radius: 0 $border-radius1 0px 0px;
          }
          th:first-child {
            border-radius: $border-radius1 0 0px 0px;
          }
        }
        &.table-body {
          td {
            border-bottom: 1px solid $inner-boder;
            &.status {
              span {
                padding: $m-1;
                border-radius: 4px;
                &.success {
                  border: 0.5px solid $success-color;
                  color: $success-color;
                  .icon {
                    color: $success-color;
                  }
                }
                &.error {
                  color: $error-color;
                  border: 0.5px solid $error-color;
                  .icon {
                    color: $error-color;
                  }
                }
                &.warning {
                  color: $warning-color;
                  border: 0.5px solid $warning-color;
                  .icon {
                    color: $warning-color;
                  }
                }
              }
            }
          }
          &:not(:last-child) {
            td {
              border-bottom: 1px solid $inner-boder;
            }
          }
        }
      }

    }
  }
}



