<header class="dis-flex">
  <div class="search_area dis-flex">
    <span class="clickable" (click)="openMenu()">
      <i class="bx bx-menu-alt-left hamburger"></i>
      <!-- [class]="hamClick ? 'bx-menu-alt-left' : 'bx-x'" -->
      <!-- <i class="bx bx-x hamburger"></i> -->
    </span>
    <div class="input_field dis-flex">
      <img src="../../../../assets/img/svg/Search.svg" alt="" />
      <input type="text" placeholder="Search for anything" />
    </div>
  </div>
  <div class="right dis-flex">
    <span class="notifi dis-flex clickable"
      ><img src="../../../../assets/img/svg/Notification.svg" alt=""
    /></span>
    <span class="profile dis-flex clickable">
      <img
        src="../../../../assets/img/profile_pic.png"
        alt=""
        class="profile_img"
      />
      <span class="profile_details">
        <h5>Kingsley Ezejiaku</h5>
        <p>Admin</p>
      </span>
      <i class="bx bx-chevron-down profile_icon"></i>
    </span>
  </div>
</header>
