<header class="dis-flex">
  <!-- <h1>Hello World</h1>
  <h2>Hello</h2>
  <h3>Hello</h3>
  <h4>Hello</h4>
  <h5>Hello</h5>
  <h6>Hello</h6>
  <p>Hello</p> -->
  <div class="search_area">
    <div class="input_field dis-flex">
      <img src="../../../../assets/img/svg/Search.svg" alt="" />
      <input type="text" placeholder="Search for anything" />
    </div>
  </div>
  <div class="right dis-flex">
    <span class="notifi dis-flex clickable"
      ><img src="../../../../assets/img/svg/Notification.svg" alt=""
    /></span>
    <span class="profile dis-flex clickable">
      <img
        src="../../../../assets/img/profile_pic.png"
        alt=""
        class="profile_img"
      />
      <span class="profile_details">
        <h4>Kingsley Ezejiaku</h4>
        <p>Admin</p>
      </span>
      <i class="bx bx-chevron-down icon"></i>
    </span>
  </div>
</header>
